.search {
  margin-bottom: 5em;
}

.recipe-card {
  padding: 100px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3em;
}