.section {
  background: white;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.section.quote {
  .quote-text {
    font-size: 1.3em;
    line-height: 1.3;
    .icon-quote {
        color: red;
        margin-right: .5em;
    }
  }
  .quote-author {
    color: #333;
    margin-top: 1em;
  }
}
