#details {
  background: white;
  padding: 40px;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 4rem;
  color: black;
}

h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 2em;
}

.pag {
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
}

.page {
  display: flex;
  gap: 30px;
  font-size: 1.3rem;
}

ul li {
  list-style: none;
  display: flex;
}

.icon-accueil {
  text-decoration: none;
}

.a1 {
  color: #333;
}

.a1:hover {
  color: coral;
}

.iac1 {
  color: #333;
}

.icon-recipe {
  text-decoration: none;
}

.rec1 {
  color: #333;
}

.rec1:hover {
  color: coral;
}

.ir1 {
  color: #333;
}