#improve {
  background: white;
  padding: 20px;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 3.5em;
}

.h2 {
  color: black;
  font-size: 2.5rem;
  font-weight: 900;
}

.btn-primary {
  background-color: #006400;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) /* #ffffff */;
  cursor: pointer;
  margin-top: 0.75em;
}

.btn-primary:hover {
  --tw-bg-opacity: 1;
  background-color: #228b22;
  cursor: pointer;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.typography {
  padding-left: 1em;
}

.skills {
  border-left: 0.2em solid #006400;
  margin-bottom: 1.5em;
  padding: 0.1em 0 0.1em 0.5em;
}
