.card-image {
  height: 70%;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.link-card {
  text-decoration: none;
}

.card-span {
  color: black;
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
}

h3 {
  font-size: 1.7em;
}

.img {
  object-fit: cover;
}