.container-header {
  background: white;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h1 {
  color: DarkOrange;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

ul li {
  margin: 0 35px;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.link1 {
    text-decoration: none;
}

.link2 {
    text-decoration: none;
}

.link3 {
    text-decoration: none;
}

.span-header {
    color: #333;
}

.span-header:hover {
    color:coral;
}

/* Sidebar-icon: menu responsive */
.menu {
  height: 28px;
  width: 30px;
  background: white;
  position: relative;
  display: none;
  .bar {
    border-radius: 5px;
    height: 6px;
    width: 100%;
    background-color: black;
    position: absolute;
    &:nth-child(1){
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform-origin: right;
      transform: scaleX(.8) translateY(-50%);
    }
    &:nth-child(3) {
      top: 100%;
      transform-origin: right;
      transform: scaleX(1.1) translateY(-100%);
    }
  }
  &.active {
    .bar {
      transform-origin: center;
      top: 50%;
      &:nth-child(1) {
        transform: translate(0, -50%) scale(1) rotate(45deg);
      }
      &:nth-child(2) {
        transform: scaleX(0) translateY(-50%);
      }
      &:nth-child(3) {
        transform: translate(0, -50%) scale(1) rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-header {
    .header {
      display: none;
    }
    .menu {
      display: block;
    }
  }
}



