.search {
  padding: 50px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.search-form input {
  width: 500px;
  padding: 8px 12px;
  border: 2px solid #333;
  font-size: 1rem;
  border-radius: 5px;
}

.btn-search{
  background: green;
  padding: 9px 15px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
}

.search-form {
  background: white;
  padding: 50px;
  height: 100;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  h2 {
    color: black;
    margin-bottom: 0.5em;
  }
  .search-recipe {
    .search-item {
      background-color: coral;
      display: inline-block;
      padding: 0.5em 1em;
      margin: 0 0.5em 1em 0;
      border-radius: 30px;
      cursor: pointer;
    }
    .search-item:hover {
      background-color: orangered;
      display: inline-block;
      padding: 0.5em 1em;
      margin: 0 0.5em 1em 0;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}

.recipe-item {
  text-align: center;
}
